<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Weapons</key>
	<dict>
		<key>Grenade</key>
		<dict>
			<key>ImageName</key>
			<string>grenade</string>
			<key>RequiresAmmo</key>
			<true/>
			<key>Depth</key>
			<integer>99</integer>
			<key>CollisionBodyType</key>
			<string>circle</string>
			<key>ResizeBodyBy</key>
			<real>0.22</real>
			<key>LocationOffsetUp</key>
			<string>{0,50}</string>
			<key>LocationOffsetDown</key>
			<string>{0,5}</string>
			<key>LocationOffsetRight</key>
			<string>{0,50}</string>
			<key>LocationOffsetLeft</key>
			<string>{0,50}</string>
			<key>VectorIfCharacterFacesUp</key>
			<string>{ 2, 5 }</string>
			<key>VectorIfCharacterFacesDown</key>
			<string>{ 2, 0 }</string>
			<key>VectorIfCharacterFacesLeft</key>
			<string>{ -3, 3 }</string>
			<key>VectorIfCharacterFacesRight</key>
			<string>{ 3, 3}</string>
			<key>TaperDownVectorAfterHowLong</key>
			<integer>1</integer>
			<key>RemoveAfterHowLong</key>
			<integer>8</integer>
			<key>AffectedByGravity</key>
			<true/>
			<key>Restitution</key>
			<real>0.3</real>
			<key>Mass</key>
			<integer>1</integer>
			<key>AllowsRotation</key>
			<true/>
			<key>DisableFiringDown</key>
			<false/>
			<key>DisableFiringUp</key>
			<false/>
			<key>DisableFiringLeft</key>
			<false/>
			<key>DisableFiringRight</key>
			<false/>
			<key>ParticleFileName</key>
			<string>DeathFire</string>
			<key>RemoveParticlesAfterHowLong</key>
			<integer>2</integer>
			<key>NumberOfParticlesToEmit</key>
			<integer>10</integer>
			<key>ParticleXOffset</key>
			<integer>0</integer>
			<key>ParticleYOffset</key>
			<integer>0</integer>
			<key>KeepAddingVectorsToParticles</key>
			<false/>
			<key>FireSound</key>
			<string>Whooshes</string>
			<key>HitSound</key>
			<string>Explosions</string>
			<key>DamageToPlayers</key>
			<integer>20</integer>
			<key>DamageToObjects</key>
			<integer>5</integer>
			<key>IgnoreCollisionsThatDontDamage</key>
			<false/>
			<key>DisablePushBack</key>
			<true/>
			<key>AnimationHit</key>
			<dict>
				<key>Size</key>
				<string>{ 75, 75}</string>
				<key>FPS</key>
				<integer>10</integer>
				<key>AtlasFile</key>
				<string>ring_blast</string>
				<key>FrameOrder</key>
				<array>
					<string>ring_blast0001</string>
					<string>ring_blast0002</string>
					<string>ring_blast0003</string>
					<string>ring_blast0004</string>
					<string>ring_blast0005</string>
					<string>ring_blast0006</string>
					<string>ring_blast0007</string>
					<string>ring_blast0008</string>
					<string>ring_blast0009</string>
					<string>ring_blast0010</string>
					<string>ring_blast0011</string>
					<string>ring_blast0012</string>
					<string>ring_blast0013</string>
				</array>
			</dict>
			<key>Movements</key>
			<dict>
				<key>RotatesForeverWithDuration</key>
				<integer>4</integer>
			</dict>
		</dict>
		<key>Unlimited_Grenade</key>
		<dict>
			<key>ImageName</key>
			<string>grenade</string>
			<key>RequiresAmmo</key>
			<false/>
			<key>Depth</key>
			<integer>99</integer>
			<key>CollisionBodyType</key>
			<string>circle</string>
			<key>ResizeBodyBy</key>
			<real>0.22</real>
			<key>LocationOffsetUp</key>
			<string>{0,50}</string>
			<key>LocationOffsetDown</key>
			<string>{0,5}</string>
			<key>LocationOffsetRight</key>
			<string>{0,50}</string>
			<key>LocationOffsetLeft</key>
			<string>{0,50}</string>
			<key>VectorIfCharacterFacesUp</key>
			<string>{ 2, 5 }</string>
			<key>VectorIfCharacterFacesDown</key>
			<string>{ 2, 0 }</string>
			<key>VectorIfCharacterFacesLeft</key>
			<string>{ -3, 3 }</string>
			<key>VectorIfCharacterFacesRight</key>
			<string>{ 3, 3}</string>
			<key>TaperDownVectorAfterHowLong</key>
			<integer>1</integer>
			<key>RemoveAfterHowLong</key>
			<integer>8</integer>
			<key>AffectedByGravity</key>
			<true/>
			<key>Restitution</key>
			<real>0.3</real>
			<key>Mass</key>
			<integer>1</integer>
			<key>AllowsRotation</key>
			<true/>
			<key>DisableFiringDown</key>
			<false/>
			<key>DisableFiringUp</key>
			<false/>
			<key>DisableFiringLeft</key>
			<false/>
			<key>DisableFiringRight</key>
			<false/>
			<key>ParticleFileName</key>
			<string>DeathFire</string>
			<key>RemoveParticlesAfterHowLong</key>
			<integer>2</integer>
			<key>NumberOfParticlesToEmit</key>
			<integer>10</integer>
			<key>ParticleXOffset</key>
			<integer>0</integer>
			<key>ParticleYOffset</key>
			<integer>0</integer>
			<key>KeepAddingVectorsToParticles</key>
			<false/>
			<key>FireSound</key>
			<string>Whooshes</string>
			<key>HitSound</key>
			<string>Explosions</string>
			<key>DamageToPlayers</key>
			<integer>20</integer>
			<key>DamageToObjects</key>
			<integer>5</integer>
			<key>IgnoreCollisionsThatDontDamage</key>
			<false/>
			<key>DisablePushBack</key>
			<true/>
			<key>AnimationHit</key>
			<dict>
				<key>Size</key>
				<string>{ 75, 75}</string>
				<key>FPS</key>
				<integer>10</integer>
				<key>AtlasFile</key>
				<string>ring_blast</string>
				<key>FrameOrder</key>
				<array>
					<string>ring_blast0001</string>
					<string>ring_blast0002</string>
					<string>ring_blast0003</string>
					<string>ring_blast0004</string>
					<string>ring_blast0005</string>
					<string>ring_blast0006</string>
					<string>ring_blast0007</string>
					<string>ring_blast0008</string>
					<string>ring_blast0009</string>
					<string>ring_blast0010</string>
					<string>ring_blast0011</string>
					<string>ring_blast0012</string>
					<string>ring_blast0013</string>
				</array>
			</dict>
			<key>Movements</key>
			<dict>
				<key>RotatesForeverWithDuration</key>
				<integer>4</integer>
			</dict>
		</dict>
		<key>^^ Uses grenade image included with kit - 2</key>
		<string></string>
		<key>Jughead_Weapon</key>
		<dict>
			<key>Basics</key>
			<dict>
				<key>ImageName</key>
				<string>bullet</string>
				<key>Depth</key>
				<integer>99</integer>
				<key>RequiresAmmo</key>
				<false/>
				<key>MaxAtOnce</key>
				<integer>20</integer>
				<key>RemoveAfterHowLong</key>
				<integer>4</integer>
				<key>CanCollect</key>
				<false/>
				<key>FiringCausesCharacterToStop</key>
				<false/>
			</dict>
			<key>LocationOffsets</key>
			<dict>
				<key>LocationOffsetUp</key>
				<string>{10, 10}</string>
				<key>LocationOffsetDown</key>
				<string>{30, 5}</string>
				<key>LocationOffsetRight</key>
				<string>{30, 5}</string>
				<key>LocationOffsetLeft</key>
				<string>{-30, 5}</string>
			</dict>
			<key>Physics</key>
			<dict>
				<key>CollisionBodyType</key>
				<string>circle</string>
				<key>ResizeBodyBy</key>
				<real>0.5</real>
				<key>Restitution</key>
				<integer>0</integer>
				<key>Mass</key>
				<integer>1</integer>
				<key>AffectedByGravity</key>
				<false/>
				<key>AllowsRotation</key>
				<false/>
				<key>IgnoreCollisionsThatDontDamage</key>
				<true/>
			</dict>
			<key>Vectors</key>
			<dict>
				<key>VectorIfCharacterFacesUp</key>
				<string>{ 10, 1 }</string>
				<key>VectorIfCharacterFacesDown</key>
				<string>{ 10, 0 }</string>
				<key>VectorIfCharacterFacesLeft</key>
				<string>{ -10, 0 }</string>
				<key>VectorIfCharacterFacesRight</key>
				<string>{ 10, 0}</string>
				<key>VectorIfCharacterResting</key>
				<string>{ 10, 0 }</string>
				<key>TaperDownVectorAfterHowLong</key>
				<integer>2</integer>
			</dict>
			<key>Disables</key>
			<dict>
				<key>DisableFiringDown</key>
				<false/>
				<key>DisableFiringUp</key>
				<false/>
				<key>DisableFiringLeft</key>
				<false/>
				<key>DisableFiringRight</key>
				<false/>
				<key>DisableFiringWhenResting</key>
				<false/>
			</dict>
			<key>Particles</key>
			<dict>
				<key>ParticleFileName</key>
				<string>DeathFire</string>
				<key>RemoveParticlesAfterHowLong</key>
				<integer>2</integer>
				<key>NumberOfParticlesToEmit</key>
				<integer>10</integer>
				<key>ParticleXOffset</key>
				<integer>0</integer>
				<key>ParticleYOffset</key>
				<integer>0</integer>
				<key>KeepAddingVectorsToParticles</key>
				<false/>
			</dict>
			<key>Sounds</key>
			<dict>
				<key>FireSound</key>
				<string>Gun</string>
				<key>HitSound</key>
				<string>Explosions</string>
			</dict>
			<key>Damage</key>
			<dict>
				<key>DamageToObjects</key>
				<integer>1</integer>
				<key>DamageToPlayers</key>
				<integer>20</integer>
			</dict>
			<key>AnimationHit</key>
			<dict>
				<key>Size</key>
				<string>{ 52, 67}</string>
				<key>FPS</key>
				<integer>10</integer>
				<key>AtlasFile</key>
				<string>weapon_hit</string>
				<key>FrameOrder</key>
				<array>
					<string>weapon_hit0001</string>
					<string>weapon_hit0002</string>
					<string>weapon_hit0003</string>
					<string>weapon_hit0004</string>
					<string>weapon_hit0005</string>
					<string>weapon_hit0006</string>
				</array>
			</dict>
		</dict>
		<key>^^ Uses bullet image included with kit</key>
		<string></string>
	</dict>
	<key>Characters</key>
	<dict>
		<key>Jughead</key>
		<dict>
			<key>FPS</key>
			<integer>12</integer>
			<key>Size</key>
			<string>{110, 110}</string>
			<key>SideScrollingProperties</key>
			<dict>
				<key>TreatUpLikeJump</key>
				<true/>
				<key>JumpTime</key>
				<real>0.7</real>
				<key>TreatDownLikeCrouch</key>
				<true/>
			</dict>
			<key>WeaponsAndInventory</key>
			<dict>
				<key>UseWeapon</key>
				<string>Default_Weapon</string>
				<key>UseSpecialWeapon</key>
				<string>Throwing_Sword</string>
				<key>AddWeaponToInventory</key>
				<true/>
				<key>AddSpecialWeaponToInventory</key>
				<true/>
				<key>AddToInventoryWithKeyName</key>
				<string>Jughead_Character</string>
				<key>AutomaticallyAddToInventory</key>
				<true/>
			</dict>
			<key>Physics</key>
			<dict>
				<key>Friction</key>
				<integer>1</integer>
				<key>Speed</key>
				<integer>3</integer>
				<key>UseForCollisions</key>
				<true/>
				<key>CollisionBodyType</key>
				<string>circle</string>
				<key>OffsetCollisionBody</key>
				<string>{0,-18}</string>
				<key>ResizeBodyBy</key>
				<real>0.65</real>
				<key>Restitution</key>
				<integer>0</integer>
				<key>Mass</key>
				<integer>20</integer>
				<key>Density</key>
				<integer>20</integer>
			</dict>
			<key>Vectors</key>
			<dict>
				<key>UpVector</key>
				<string>{3,4}</string>
				<key>DownVector</key>
				<string>{1,0}</string>
				<key>LeftVector</key>
				<string>{-3,0}</string>
				<key>RightVector</key>
				<string>{3,0}</string>
				<key>AttackUpVector</key>
				<string>{0, 0}</string>
				<key>AttackDownVector</key>
				<string>{0, 0}</string>
				<key>AttackLeftVector</key>
				<string>{0, 0}</string>
				<key>AttackRightVector</key>
				<string>{0, 0}</string>
				<key>AttackVectorIfResting</key>
				<string>{0, 0}</string>
				<key>VectorMultiplierForPad</key>
				<integer>1</integer>
				<key>VectorMultiplierForPhone</key>
				<real>1.2</real>
			</dict>
			<key>Idle</key>
			<dict>
				<key>UseRestingFrames</key>
				<true/>
				<key>RestingAtlasFile</key>
				<string>jughead_idle</string>
				<key>RestingFrames</key>
				<array>
					<string>jughead_idle0001</string>
					<string>jughead_idle0002</string>
					<string>jughead_idle0003</string>
					<string>jughead_idle0004</string>
					<string>jughead_idle0005</string>
					<string>jughead_idle0006</string>
					<string>jughead_idle0007</string>
					<string>jughead_idle0008</string>
				</array>
				<key>UseRestingAttackFrames</key>
				<true/>
				<key>RestingAttackAtlasFile</key>
				<string>jughead_idle_attack</string>
				<key>RestingAttackFrames</key>
				<array>
					<string>jughead_idle_attack0001</string>
					<string>jughead_idle_attack0002</string>
					<string>jughead_idle_attack0003</string>
					<string>jughead_idle_attack0004</string>
					<string>jughead_idle_attack0005</string>
					<string>jughead_idle_attack0006</string>
				</array>
			</dict>
			<key>Down</key>
			<dict>
				<key>UseDownFrames</key>
				<true/>
				<key>DownAtlasFile</key>
				<string>jughead_walking_crouched</string>
				<key>DownFrames</key>
				<array>
					<string>jughead_walking_crouched0001</string>
					<string>jughead_walking_crouched0002</string>
					<string>jughead_walking_crouched0003</string>
					<string>jughead_walking_crouched0004</string>
					<string>jughead_walking_crouched0005</string>
					<string>jughead_walking_crouched0006</string>
					<string>jughead_walking_crouched0007</string>
					<string>jughead_walking_crouched0008</string>
					<string>jughead_walking_crouched0009</string>
					<string>jughead_walking_crouched0010</string>
					<string>jughead_walking_crouched0011</string>
					<string>jughead_walking_crouched0012</string>
					<string>jughead_walking_crouched0013</string>
					<string>jughead_walking_crouched0014</string>
				</array>
				<key>UseDownAttackFrames</key>
				<true/>
				<key>DownAttackAtlasFile</key>
				<string>jughead_walking_crouched_attack</string>
				<key>DownAttackAtlasFPS</key>
				<integer>4</integer>
				<key>DownAttackFrames</key>
				<array>
					<string>jughead_walking_crouched_attack0001</string>
					<string>jughead_walking_crouched_attack0001</string>
					<string>jughead_walking_crouched_attack0002</string>
					<string>jughead_walking_crouched_attack0003</string>
					<string>jughead_walking_crouched_attack0004</string>
					<string>jughead_walking_crouched_attack0005</string>
					<string>jughead_walking_crouched_attack0006</string>
				</array>
			</dict>
			<key>Up</key>
			<dict>
				<key>UseUpFrames</key>
				<true/>
				<key>UpAtlasFile</key>
				<string>jughead_jumping</string>
				<key>UpFrames</key>
				<array>
					<string>jughead_jumping0001</string>
					<string>jughead_jumping0002</string>
					<string>jughead_jumping0003</string>
					<string>jughead_jumping0002</string>
				</array>
				<key>UseUpAttackFrames</key>
				<true/>
				<key>UpAttackAtlasFile</key>
				<string>jughead_jumping_attack</string>
				<key>UpAttackFrames</key>
				<array>
					<string>jughead_jumping_attack0001</string>
					<string>jughead_jumping_attack0002</string>
					<string>jughead_jumping_attack0003</string>
					<string>jughead_jumping_attack0004</string>
				</array>
			</dict>
			<key>Right</key>
			<dict>
				<key>UseRightFrames</key>
				<true/>
				<key>RightAtlasFile</key>
				<string>jughead_walking</string>
				<key>RightFrames</key>
				<array>
					<string>jughead_walking0001</string>
					<string>jughead_walking0002</string>
					<string>jughead_walking0003</string>
					<string>jughead_walking0004</string>
					<string>jughead_walking0005</string>
					<string>jughead_walking0006</string>
					<string>jughead_walking0007</string>
					<string>jughead_walking0008</string>
					<string>jughead_walking0009</string>
				</array>
				<key>UseRightAttackFrames</key>
				<true/>
				<key>RightAttackAtlasFile</key>
				<string>jughead_walking_attack</string>
				<key>RightAttackFrames</key>
				<array>
					<string>jughead_walking_attack0001</string>
					<string>jughead_walking_attack0001</string>
					<string>jughead_walking_attack0002</string>
					<string>jughead_walking_attack0003</string>
					<string>jughead_walking_attack0004</string>
					<string>jughead_walking_attack0005</string>
					<string>jughead_walking_attack0006</string>
					<string>jughead_walking_attack0007</string>
					<string>jughead_walking_attack0008</string>
					<string>jughead_walking_attack0009</string>
				</array>
			</dict>
			<key>Climb</key>
			<dict>
				<key>UseClimbFrames</key>
				<true/>
				<key>ClimbAtlasFile</key>
				<string>jughead_climbing</string>
				<key>ClimbFrames</key>
				<array>
					<string>jughead_climbing0001</string>
					<string>jughead_climbing0002</string>
					<string>jughead_climbing0003</string>
					<string>jughead_climbing0004</string>
					<string>jughead_climbing0005</string>
					<string>jughead_climbing0006</string>
					<string>jughead_climbing0007</string>
					<string>jughead_climbing0008</string>
				</array>
			</dict>
			<key>Disables</key>
			<dict>
				<key>DisableLeftMovement</key>
				<false/>
				<key>DisableRightMovement</key>
				<false/>
				<key>DisableUpMovement</key>
				<false/>
				<key>DisableDownMovement</key>
				<false/>
			</dict>
			<key>Death</key>
			<dict>
				<key>UseDeathFrames</key>
				<true/>
				<key>DeathAtlasFile</key>
				<string>jughead_dead</string>
				<key>DeathFrames</key>
				<array>
					<string>jughead_dead0001</string>
					<string>jughead_dead0002</string>
					<string>jughead_dead0003</string>
					<string>jughead_dead0004</string>
					<string>jughead_dead0005</string>
					<string>jughead_dead0006</string>
				</array>
				<key>DeathTime</key>
				<integer>2</integer>
			</dict>
			<key>Damage</key>
			<dict>
				<key>UseDamageFrames</key>
				<true/>
				<key>DamageAtlasFile</key>
				<string>jughead_damaged</string>
				<key>DamageFrames</key>
				<array>
					<string>jughead_damaged0001</string>
					<string>jughead_damaged0002</string>
					<string>jughead_damaged0003</string>
					<string>jughead_damaged0004</string>
					<string>jughead_damaged0005</string>
					<string>jughead_damaged0006</string>
				</array>
				<key>DamageTime</key>
				<integer>2</integer>
			</dict>
			<key>Special_Attack</key>
			<dict>
				<key>UseRestingSpecialAttackFrames</key>
				<true/>
				<key>RestingSpecialAttackAtlasFile</key>
				<string>jughead_idle_attack2</string>
				<key>RestingSpecialAttackFrames</key>
				<array>
					<string>jughead_idle_attack2_0001</string>
					<string>jughead_idle_attack2_0002</string>
					<string>jughead_idle_attack2_0003</string>
					<string>jughead_idle_attack2_0004</string>
					<string>jughead_idle_attack2_0005</string>
					<string>jughead_idle_attack2_0006</string>
					<string>jughead_idle_attack2_0007</string>
					<string>jughead_idle_attack2_0008</string>
					<string>jughead_idle_attack2_0009</string>
				</array>
			</dict>
			<key>Rotation</key>
			<dict>
				<key>DegreeOfRotationForRight</key>
				<integer>0</integer>
				<key>DegreeOfRotationForDown</key>
				<integer>0</integer>
				<key>DegreeOfRotationForUp</key>
				<integer>0</integer>
				<key>DegreeOfRotationForLeft</key>
				<integer>0</integer>
				<key>DegreeOfRotationForUpLeft</key>
				<integer>0</integer>
				<key>DegreeOfRotationForUpRight</key>
				<integer>0</integer>
				<key>DegreeOfRotationForDownRight</key>
				<integer>0</integer>
				<key>DegreeOfRotationForDownLeft</key>
				<integer>0</integer>
			</dict>
			<key>AttackandDamage</key>
			<dict>
				<key>MultiplyDamageByExperience</key>
				<false/>
				<key>DamageAmountToObjects</key>
				<integer>1</integer>
				<key>AttackForHowLong</key>
				<real>0.15</real>
				<key>DisableAttackWhenNotLeader</key>
				<false/>
			</dict>
			<key>Health</key>
			<dict>
				<key>HasOwnHealth</key>
				<true/>
				<key>MaxHealth</key>
				<integer>100</integer>
				<key>OnlyShowHealthAfterDamage</key>
				<true/>
				<key>HealthBarBackingImage</key>
				<string>healthBarBacking2</string>
				<key>HealthBarMeterImage</key>
				<string>healthBarMeter2</string>
				<key>HealthOffSetY</key>
				<integer>5</integer>
			</dict>
			<key>Immunity</key>
			<dict>
				<key>HasImmunity</key>
				<false/>
				<key>ImmunityTime</key>
				<integer>10</integer>
				<key>ShowImmunityTime</key>
				<true/>
				<key>ImmunityParticleFile</key>
				<string>DeathFire</string>
				<key>ImmunityParticleOffset</key>
				<string>{0, -30}</string>
				<key>ImmunityParticleDepth</key>
				<integer>2</integer>
				<key>ImmunityImage</key>
				<string>halo</string>
				<key>ImmunityImageDepth</key>
				<integer>1</integer>
				<key>ImmunityImageOffset</key>
				<string>{0, 30}</string>
			</dict>
			<key>Cloaking</key>
			<dict>
				<key>HasCloaking</key>
				<false/>
				<key>CloakingTime</key>
				<integer>10</integer>
				<key>ShowCloakingTime</key>
				<true/>
				<key>CloakingParticleFile</key>
				<string>GassySmoke</string>
				<key>CloakingParticleOffset</key>
				<string>{0, -30}</string>
				<key>CloakingParticleDepth</key>
				<integer>-1</integer>
				<key>CloakingImage</key>
				<string>halo</string>
				<key>CloakingImageDepth</key>
				<integer>1</integer>
				<key>CloakingImageOffset</key>
				<string>{0, 30}</string>
				<key>CloakingAlpha</key>
				<real>0.5</real>
			</dict>
			<key>Sounds</key>
			<dict>
				<key>FootStepsSound</key>
				<string>HumanFootSteps</string>
				<key>JumpSound</key>
				<string>Whooshes</string>
				<key>DeathSound</key>
				<string>Death</string>
				<key>DamageSound</key>
				<string>Oww</string>
			</dict>
			<key>AppearsWithParticles</key>
			<string>DeathFire</string>
		</dict>
	</dict>
	<key>Collectibles</key>
	<dict>
		<key>Grenade</key>
		<dict>
			<key>InventoryItemImage</key>
			<string>grenade_icon</string>
			<key>ShowTotalCollected</key>
			<true/>
			<key>EquipsSpecialWeaponNamed</key>
			<string>Grenade</string>
			<key>EquipImage</key>
			<string>equip_inventory</string>
			<key>AlreadyEquippedImage</key>
			<string>blank</string>
			<key>NOTE- Using a blank image above, to reveal ammo count</key>
			<string>blank</string>
			<key>Sound</key>
			<string>Gun</string>
		</dict>
		<key>Unlimited_Grenade</key>
		<dict>
			<key>InventoryItemImage</key>
			<string>grenade_icon</string>
			<key>ShowTotalCollected</key>
			<false/>
			<key>EquipsSpecialWeaponNamed</key>
			<string>Unlimited_Grenade</string>
			<key>EquipImage</key>
			<string>equip_inventory</string>
			<key>AlreadyEquippedImage</key>
			<string>equipped_inventory</string>
			<key>Sound</key>
			<string>Gun</string>
		</dict>
		<key>Jughead_Character</key>
		<dict>
			<key>InventoryItemImage</key>
			<string>jughead_icon</string>
			<key>ShowTotalCollected</key>
			<false/>
			<key>ChangesCharacterTo</key>
			<string>Jughead</string>
			<key>EquipsWeaponNamed</key>
			<string>Jughead_Weapon</string>
			<key>EquipImage</key>
			<string>use_inventory</string>
			<key>AlreadyEquippedImage</key>
			<string>in_use_inventory</string>
			<key>Sound</key>
			<string>Gun</string>
		</dict>
		<key>Jughead_Gun</key>
		<dict>
			<key>InventoryItemImage</key>
			<string>jughead_gun_icon</string>
			<key>ShowTotalCollected</key>
			<false/>
			<key>EquipsWeaponNamed</key>
			<string>Jughead_Weapon</string>
			<key>EquipImage</key>
			<string>equip_inventory</string>
			<key>AlreadyEquippedImage</key>
			<string>equipped_inventory</string>
			<key>Sound</key>
			<string>Gun</string>
		</dict>
	</dict>
</dict>
</plist>
