<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>cc_player_jump_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 41}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{29, 41}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {29, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_player_jump_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {31, 39}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{31, 39}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{101, 1}, {39, 31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>cc_player_jump_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 41}}</string>
			<key>spriteOffset</key>
			<string>{-10, -0}</string>
			<key>spriteSize</key>
			<string>{21, 41}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 85}, {21, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_player_jump_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 41}}</string>
			<key>spriteOffset</key>
			<string>{-10, -0}</string>
			<key>spriteSize</key>
			<string>{21, 41}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{23, 85}, {21, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_player_jump_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {21, 41}}</string>
			<key>spriteOffset</key>
			<string>{-10, -0}</string>
			<key>spriteSize</key>
			<string>{21, 41}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{25, 43}, {21, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_player_jump_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {37, 37}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{37, 37}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{31, 1}, {37, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_player_jump_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {33, 37}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{33, 37}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{79, 37}, {37, 33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>cc_player_jump_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {31, 35}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{31, 35}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{47, 39}, {31, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_player_jump_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {31, 35}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{31, 35}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{69, 1}, {31, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_player_jump_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {31, 35}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{31, 35}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 71}, {35, 31}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>cc_player_jump_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {31, 35}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{31, 35}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 75}, {31, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_player_jump_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {27, 37}}</string>
			<key>spriteOffset</key>
			<string>{-7, 1}</string>
			<key>spriteSize</key>
			<string>{27, 37}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{45, 85}, {27, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>cc_player_jump_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {23, 41}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{23, 41}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 43}, {23, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 128}</string>
	</dict>
</dict>
</plist>