<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<dict>
		<key>Lava_Station</key>
		<dict>
			<key>Portals</key>
			<dict>
				<key>StartingPoint</key>
				<dict>
					<key>AppearFromPortalWhere</key>
					<string>{ 0, 30 }</string>
					<key>Depth</key>
					<integer>0</integer>
					<key>MakeOneWay</key>
					<true/>
				</dict>
				<key>Exit_With_Switch</key>
				<dict>
					<key>NOTE - Uses Switches as a Requirement</key>
					<string></string>
					<key>NOTE - Has Animations instead of Images for appearance</key>
					<string></string>
					<key>NOTE - Uses Label Pop Up</key>
					<string></string>
					<key>NOTE - Do not change name of Animation or AnimationLocked dictionaries</key>
					<string></string>
					<key>NOTE - Other dictionary names can be your own choosing.</key>
					<string></string>
					<key>AnimationLocked</key>
					<dict>
						<key>FPS</key>
						<integer>5</integer>
						<key>WillLoop</key>
						<false/>
						<key>Size</key>
						<string>{ 88 , 106}</string>
						<key>LoopWithDelayTime</key>
						<integer>8</integer>
						<key>AtlasFile</key>
						<string>door_closing</string>
						<key>FrameOrder</key>
						<array>
							<string>doors_closing0001</string>
							<string>doors_closing0002</string>
							<string>doors_closing0003</string>
							<string>doors_closing0004</string>
							<string>doors_closing0005</string>
							<string>doors_closing0006</string>
							<string>doors_closing0007</string>
							<string>doors_closing0008</string>
						</array>
					</dict>
					<key>Animation</key>
					<dict>
						<key>FPS</key>
						<integer>5</integer>
						<key>WillLoop</key>
						<false/>
						<key>Size</key>
						<string>{ 88 , 106}</string>
						<key>LoopWithDelayTime</key>
						<integer>8</integer>
						<key>AtlasFile</key>
						<string>door_opening</string>
						<key>FrameOrder</key>
						<array>
							<string>door_opening0001</string>
							<string>door_opening0002</string>
							<string>door_opening0003</string>
							<string>door_opening0004</string>
							<string>door_opening0005</string>
							<string>door_opening0006</string>
							<string>door_opening0007</string>
							<string>door_opening0008</string>
						</array>
					</dict>
					<key>Requirements</key>
					<dict>
						<key>ToEnterRequiresSwitchNamed</key>
						<string>leverSwitch</string>
						<key>AmountOfSwitchesRequired</key>
						<integer>1</integer>
					</dict>
					<key>LabelPopUp</key>
					<dict>
						<key>PopUpLabelWhenTouched</key>
						<string>Exit_Label</string>
						<key>AddLabelInPlayableWorld</key>
						<true/>
					</dict>
					<key>WherePortalGoes</key>
					<dict>
						<key>IsGatewayToLevelNamed</key>
						<string>Jungle</string>
						<key>EnterNewLevelAtPortalNamed</key>
						<string>StartingPoint</string>
					</dict>
					<key>Physics</key>
					<dict>
						<key>ResizeBodyBy</key>
						<integer>1</integer>
						<key>CollisionBodyType</key>
						<string>wide_square</string>
						<key>OffsetCollisionBody</key>
						<string>{0, -49}</string>
						<key>AffectedByGravity</key>
						<string>NO</string>
						<key>AffectedByPhysics</key>
						<string>NO</string>
					</dict>
					<key>Basics</key>
					<dict>
						<key>Depth</key>
						<integer>0</integer>
						<key>Transition</key>
						<string>Fade</string>
					</dict>
					<key>Sounds</key>
					<dict>
						<key>SoundOnEntry</key>
						<string>Door_open</string>
						<key>SoundOnUnlock</key>
						<string>Door_open</string>
					</dict>
				</dict>
			</dict>
			<key>CollectiblesForThisLevel</key>
			<dict>
				<key>Resupply1</key>
				<dict>
					<key>CollectibleKeyName</key>
					<string>Health_Collectible</string>
					<key>ImageName</key>
					<string>resupply1</string>
					<key>Depth</key>
					<string>151</string>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>ResizeBodyBy</key>
					<integer>1</integer>
					<key>SoundOnCollect</key>
					<string>CollectSounds</string>
					<key>AffectedByPhysics</key>
					<false/>
					<key>AmountAddedToInventory</key>
					<integer>0</integer>
					<key>Movements</key>
					<dict>
						<key>MoveYAmount</key>
						<integer>20</integer>
						<key>MoveYForHowLong</key>
						<integer>6</integer>
						<key>MoveYHowOften</key>
						<integer>0</integer>
						<key>RandomStartDirectionOnY</key>
						<false/>
					</dict>
					<key>XP</key>
					<integer>5</integer>
					<key>ShowXP</key>
					<true/>
					<key>RestoresHealthBy</key>
					<integer>50</integer>
				</dict>
				<key>Uranium</key>
				<dict>
					<key>CollectibleKeyName</key>
					<string>InGameCurrency</string>
					<key>ImageName</key>
					<string>uranium1</string>
					<key>Depth</key>
					<string>151</string>
					<key>CollisionBodyType</key>
					<string>circle</string>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>ResizeBodyBy</key>
					<integer>1</integer>
					<key>SoundOnCollect</key>
					<string>CollectSounds</string>
					<key>AffectedByPhysics</key>
					<false/>
					<key>AmountAddedToInventory</key>
					<integer>0</integer>
					<key>Movements</key>
					<dict>
						<key>MoveYAmount</key>
						<integer>20</integer>
						<key>MoveYForHowLong</key>
						<integer>6</integer>
						<key>MoveYHowOften</key>
						<integer>0</integer>
						<key>RandomStartDirectionOnY</key>
						<false/>
					</dict>
					<key>XP</key>
					<integer>5</integer>
					<key>ShowXP</key>
					<true/>
				</dict>
			</dict>
			<key>CharactersForThisLevel</key>
			<dict>
				<key>NewPrimaryCharacter</key>
				<dict>
					<key>Name</key>
					<string>Leader</string>
				</dict>
			</dict>
			<key>Boundaries</key>
			<dict/>
			<key>Tiles</key>
			<dict/>
			<key>Objects</key>
			<dict>
				<key>Background_Descending</key>
				<dict>
					<key>Depth</key>
					<string>-200</string>
					<key>ParallaxOffset</key>
					<string>{.2,  0}</string>
					<key>ImageName</key>
					<string>background_descending</string>
					<key>PlaceMultiples</key>
					<integer>11</integer>
					<key>PlaceWithXSpacing</key>
					<string>301</string>
				</dict>
				<key>InstantDeath</key>
				<dict>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>BodyCausesDamageBy</key>
					<integer>100</integer>
					<key>HitSound</key>
					<string>Drink</string>
				</dict>
				<key>HealthCrate</key>
				<dict>
					<key>ImageName</key>
					<string>resupply1</string>
					<key>Depth</key>
					<string>151</string>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>ResizeBodyBy</key>
					<integer>1</integer>
					<key>BreakSound</key>
					<string>CollectSounds</string>
					<key>AffectedByPhysics</key>
					<false/>
					<key>WillBreakFromContact</key>
					<true/>
					<key>XP</key>
					<integer>5</integer>
					<key>ShowXP</key>
					<true/>
					<key>RestoresHealthBy</key>
					<integer>50</integer>
					<key>^ will work in Build 1.12</key>
					<string></string>
				</dict>
				<key>BoosterCrate</key>
				<dict>
					<key>ImageName</key>
					<string>resupply2</string>
					<key>Depth</key>
					<string>151</string>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>ResizeBodyBy</key>
					<integer>1</integer>
					<key>BreakSound</key>
					<string>CollectSounds</string>
					<key>AffectedByPhysics</key>
					<false/>
					<key>WillBreakFromContact</key>
					<true/>
					<key>XP</key>
					<integer>5</integer>
					<key>ShowXP</key>
					<true/>
					<key>AddBoosterOnBreak</key>
					<string>HaloImmunity</string>
					<key>^ will work in Build 1.12</key>
					<string></string>
				</dict>
				<key>Lava_Fall</key>
				<dict>
					<key>Depth</key>
					<string>0</string>
					<key>ParallaxOffset</key>
					<string>{.3,  0}</string>
					<key>Animation</key>
					<dict>
						<key>WillLoop</key>
						<true/>
						<key>Size</key>
						<string>{50, 394}</string>
						<key>FPS</key>
						<integer>12</integer>
						<key>AtlasFile</key>
						<string>lava_fall</string>
						<key>FrameOrder</key>
						<array>
							<string>lava_fall0001</string>
							<string>lava_fall0002</string>
							<string>lava_fall0003</string>
							<string>lava_fall0004</string>
							<string>lava_fall0005</string>
							<string>lava_fall0006</string>
							<string>lava_fall0007</string>
							<string>lava_fall0008</string>
							<string>lava_fall0009</string>
							<string>lava_fall0010</string>
						</array>
					</dict>
				</dict>
				<key>Lava_Animated</key>
				<dict>
					<key>Depth</key>
					<string>0</string>
					<key>Animation</key>
					<dict>
						<key>WillLoop</key>
						<true/>
						<key>Size</key>
						<string>{222, 55}</string>
						<key>FPS</key>
						<integer>12</integer>
						<key>AtlasFile</key>
						<string>lava_orange</string>
						<key>FrameOrder</key>
						<array>
							<string>lava_orange0001</string>
							<string>lava_orange0002</string>
							<string>lava_orange0003</string>
							<string>lava_orange0004</string>
							<string>lava_orange0005</string>
							<string>lava_orange0006</string>
							<string>lava_orange0007</string>
							<string>lava_orange0008</string>
							<string>lava_orange0009</string>
							<string>lava_orange0010</string>
							<string>lava_orange0011</string>
							<string>lava_orange0012</string>
							<string>lava_orange0013</string>
							<string>lava_orange0014</string>
							<string>lava_orange0015</string>
							<string>lava_orange0016</string>
						</array>
					</dict>
				</dict>
				<key>Lava_Animated_Repeating</key>
				<dict>
					<key>Depth</key>
					<string>0</string>
					<key>PlaceMultiples</key>
					<integer>6</integer>
					<key>PlaceWithXSpacing</key>
					<string>217</string>
					<key>Animation</key>
					<dict>
						<key>WillLoop</key>
						<true/>
						<key>Size</key>
						<string>{222, 55}</string>
						<key>FPS</key>
						<integer>12</integer>
						<key>AtlasFile</key>
						<string>lava_orange</string>
						<key>FrameOrder</key>
						<array>
							<string>lava_orange0001</string>
							<string>lava_orange0002</string>
							<string>lava_orange0003</string>
							<string>lava_orange0004</string>
							<string>lava_orange0005</string>
							<string>lava_orange0006</string>
							<string>lava_orange0007</string>
							<string>lava_orange0008</string>
							<string>lava_orange0009</string>
							<string>lava_orange0010</string>
							<string>lava_orange0011</string>
							<string>lava_orange0012</string>
							<string>lava_orange0013</string>
							<string>lava_orange0014</string>
							<string>lava_orange0015</string>
							<string>lava_orange0016</string>
						</array>
					</dict>
				</dict>
				<key>Rail_Horizontal</key>
				<dict>
					<key>Depth</key>
					<string>10</string>
					<key>ImageName</key>
					<string>platform_rail_horizontal</string>
				</dict>
				<key>Platform_Rail2</key>
				<dict>
					<key>Depth</key>
					<string>10</string>
					<key>ImageName</key>
					<string>platform_rail2</string>
				</dict>
				<key>Moving_Platform1</key>
				<dict>
					<key>ImageName</key>
					<string>platform1</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>Depth</key>
					<string>151</string>
					<key>DoNotPauseWhenOutOfView</key>
					<true/>
					<key>Movements</key>
					<dict>
						<key>MoveYAmount</key>
						<integer>-200</integer>
						<key>MoveYForHowLong</key>
						<integer>4</integer>
						<key>MoveYHowOften</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Moving_Platform2</key>
				<dict>
					<key>ImageName</key>
					<string>platform1</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>Depth</key>
					<string>151</string>
					<key>DoNotPauseWhenOutOfView</key>
					<true/>
					<key>Movements</key>
					<dict>
						<key>MoveYAmount</key>
						<integer>200</integer>
						<key>MoveYForHowLong</key>
						<integer>6</integer>
						<key>MoveYHowOften</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Moving_Platform3</key>
				<dict>
					<key>ImageName</key>
					<string>platform1</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>Depth</key>
					<string>151</string>
					<key>CarryMultiplier</key>
					<integer>3</integer>
					<key>Movements</key>
					<dict>
						<key>MoveXAmount</key>
						<integer>180</integer>
						<key>MoveXForHowLong</key>
						<integer>10</integer>
						<key>MoveXHowOften</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Foreground</key>
				<dict>
					<key>Depth</key>
					<string>0</string>
					<key>ImageName</key>
					<string></string>
				</dict>
				<key>Crate</key>
				<dict>
					<key>Depth</key>
					<string>-1</string>
					<key>ImageName</key>
					<string>crate</string>
					<key>AffectedByPhysics</key>
					<true/>
					<key>AffectedByGravity</key>
					<true/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>ResizeBodyBY</key>
					<integer>1</integer>
					<key>AllowsRotation</key>
					<true/>
					<key>Friction</key>
					<real>0.3</real>
				</dict>
				<key>Wall1_Darker</key>
				<dict>
					<key>Depth</key>
					<string>-100</string>
					<key>ImageName</key>
					<string>wall1_darker</string>
					<key>ParallaxOffset</key>
					<string>{.3,  0}</string>
				</dict>
				<key>Window</key>
				<dict>
					<key>Depth</key>
					<string>-99</string>
					<key>ImageName</key>
					<string>tile_window</string>
					<key>ParallaxOffset</key>
					<string>{.3,  0}</string>
				</dict>
				<key>Platform4</key>
				<dict>
					<key>ImageName</key>
					<string>platform4</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,0}</string>
					<key>Depth</key>
					<string>151</string>
				</dict>
				<key>Spike1</key>
				<dict>
					<key>ImageName</key>
					<string>spike1</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,0}</string>
					<key>Depth</key>
					<string>150</string>
					<key>BodyCausesDamageBy</key>
					<integer>50</integer>
					<key>HitSound</key>
					<string>Drink</string>
				</dict>
				<key>Spike2</key>
				<dict>
					<key>ImageName</key>
					<string>spike2</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,0}</string>
					<key>Depth</key>
					<string>150</string>
					<key>BodyCausesDamageBy</key>
					<integer>50</integer>
					<key>HitSound</key>
					<string>Drink</string>
				</dict>
				<key>Spike3</key>
				<dict>
					<key>ImageName</key>
					<string>spike3</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,0}</string>
					<key>Depth</key>
					<string>150</string>
					<key>BodyCausesDamageBy</key>
					<integer>50</integer>
					<key>HitSound</key>
					<string>Drink</string>
				</dict>
				<key>Fence_Box</key>
				<dict>
					<key>ImageName</key>
					<string>fence_box</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>wide_square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,40}</string>
					<key>Depth</key>
					<string>151</string>
				</dict>
				<key>Platform_Simple</key>
				<dict>
					<key>ImageName</key>
					<string>platform_simple</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,0}</string>
					<key>Depth</key>
					<string>151</string>
				</dict>
				<key>Platform2</key>
				<dict>
					<key>ImageName</key>
					<string>platform2</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,0}</string>
					<key>Depth</key>
					<string>151</string>
				</dict>
				<key>Platform3</key>
				<dict>
					<key>ImageName</key>
					<string>platform3</string>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>OffsetCollisionBody</key>
					<string>{0,0}</string>
					<key>Depth</key>
					<string>151</string>
				</dict>
				<key>Platform_No_Body</key>
				<dict>
					<key>ImageName</key>
					<string>platform2</string>
					<key>Depth</key>
					<string>50</string>
				</dict>
				<key>Switch</key>
				<dict>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>ImageName</key>
					<string>switch_off</string>
					<key>AffectedByPhysics</key>
					<false/>
					<key>AffectedByGravity</key>
					<false/>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>DebugBody</key>
					<false/>
					<key>ResizeBodyBy</key>
					<integer>1</integer>
					<key>Depth</key>
					<integer>150</integer>
					<key>Mass</key>
					<integer>1</integer>
					<key>AllowsRotation</key>
					<false/>
					<key>SwitchToImageOnContact</key>
					<string>switch_on</string>
					<key>RemovePhysicsBodyOnSwitch</key>
					<true/>
					<key>SwitchName</key>
					<string>leverSwitch</string>
					<key>SoundOnCollision</key>
					<string>Switch</string>
				</dict>
				<key>Conveyor</key>
				<dict>
					<key>AffectedByGravity</key>
					<false/>
					<key>AffectedByPhysics</key>
					<false/>
					<key>IsCollidableWithCharacter</key>
					<true/>
					<key>Mass</key>
					<integer>1</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>CollisionBodyType</key>
					<string>square</string>
					<key>Depth</key>
					<string>151</string>
					<key>ConveyorBeltAmount</key>
					<string>-1</string>
					<key>Animation</key>
					<dict>
						<key>WillLoop</key>
						<true/>
						<key>Size</key>
						<string>{184, 60}</string>
						<key>FPS</key>
						<integer>12</integer>
						<key>AtlasFile</key>
						<string>conveyor_belt</string>
						<key>FrameOrder</key>
						<array>
							<string>conveyor_belt0001</string>
							<string>conveyor_belt0002</string>
							<string>conveyor_belt0003</string>
							<string>conveyor_belt0004</string>
							<string>conveyor_belt0005</string>
							<string>conveyor_belt0006</string>
						</array>
					</dict>
				</dict>
				<key>Ladder</key>
				<dict>
					<key>ImageName</key>
					<string>ladder2</string>
					<key>Depth</key>
					<string>50</string>
					<key>TreatAsLadder</key>
					<true/>
					<key>ClimbSpeed</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>ClearInventoryFor</key>
			<array>
				<string>Item</string>
			</array>
			<key>Labels</key>
			<dict>
				<key>Exit_Label</key>
				<dict>
					<key>Location</key>
					<string>{0, 70}</string>
					<key>RandomLinesOfText</key>
					<array>
						<array>
							<string>This door is locked.</string>
							<string>There could be a switch to open it though.</string>
						</array>
						<array>
							<string>A locked door.</string>
							<string>Hmm. Better look for a switch.</string>
						</array>
						<array>
							<string>An iron gate? If only I could bend the steel to </string>
							<string>open it... Or is that a lever I see.</string>
						</array>
						<array>
							<string>Locked. I guess I&apos;ll be late for work again.</string>
							<string>Oh wait, this lever might open it. </string>
						</array>
					</array>
					<key>LineSizes</key>
					<array>
						<integer>20</integer>
					</array>
					<key>LineSizesPhone</key>
					<array>
						<integer>20</integer>
					</array>
					<key>Font</key>
					<string>AmericanTypewriter-Bold</string>
					<key>FontColor</key>
					<string>#9CB0BE</string>
					<key>FontSize</key>
					<integer>0</integer>
					<key>FontSizePhone</key>
					<integer>0</integer>
					<key>HorizontalAlignment</key>
					<string>Center</string>
					<key>WaitToBeEnabled</key>
					<true/>
					<key>Depth</key>
					<string>3000</string>
					<key>CloseAutomaticallyAfterThisManySeconds</key>
					<integer>10</integer>
					<key>LeaveUpDuringContact</key>
					<true/>
					<key>WaitToShowForThisManySeconds</key>
					<integer>0</integer>
					<key>FadeInOverThisManySeconds</key>
					<integer>1</integer>
					<key>FadeOutOverThisManySeconds</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Images</key>
			<dict>
				<key>ThumbPad</key>
				<dict>
					<key>ImageName</key>
					<string>joystick_base</string>
					<key>Location</key>
					<string>{146, 180}</string>
					<key>LocationPhone</key>
					<string>{81, 60}</string>
					<key>LocationPhoneWide</key>
					<string>{81, 60}</string>
					<key>ResizePhone</key>
					<real>0.7</real>
					<key>Alpha</key>
					<real>0.5</real>
					<key>Depth</key>
					<integer>2000</integer>
					<key>TreatAsControlPad</key>
					<true/>
					<key>MovesBasedOnTouch</key>
					<true/>
					<key>LimitMovesToStartingSide</key>
					<true/>
				</dict>
				<key>JoyStick</key>
				<dict>
					<key>ImageName</key>
					<string>joystick_ball</string>
					<key>ResizePhone</key>
					<real>0.8</real>
					<key>Location</key>
					<string>{146, 257}</string>
					<key>LocationPhone</key>
					<string>{81, 60}</string>
					<key>LocationPhoneWide</key>
					<string>{81, 60}</string>
					<key>Alpha</key>
					<real>0.5</real>
					<key>Depth</key>
					<integer>2001</integer>
					<key>TreatAsControlPadStick</key>
					<true/>
				</dict>
			</dict>
			<key>ButtonsOnThisLevel</key>
			<dict>
				<key>Attack_Circle</key>
				<dict>
					<key>ImageName</key>
					<string>arcade_button</string>
					<key>HighLightImageName</key>
					<string>arcade_button_down</string>
					<key>DoesWhat</key>
					<string>UseWeaponAndAttack</string>
					<key>Location</key>
					<string>{940, 215}</string>
					<key>LocationPhone</key>
					<string>{430, 80}</string>
					<key>LocationPhoneWide</key>
					<string>{520, 80}</string>
					<key>ResizePhone</key>
					<real>0.5</real>
					<key>OffsetFromControlPad</key>
					<string>{0, 70}</string>
					<key>OffsetFromControlPadPhone</key>
					<string>{0, 20}</string>
					<key>Alpha</key>
					<real>0.5</real>
					<key>WillNotShareSideWithControlPad</key>
					<true/>
					<key>ShareYLocationWithControlPad</key>
					<false/>
				</dict>
				<key>Special_Attack_Circle</key>
				<dict>
					<key>ImageName</key>
					<string>arcade_button</string>
					<key>HighLightImageName</key>
					<string>arcade_button_down</string>
					<key>DoesWhat</key>
					<string>UseSpecialWeaponAndAttack</string>
					<key>Location</key>
					<string>{940, 360}</string>
					<key>LocationPhone</key>
					<string>{430, 160}</string>
					<key>LocationPhoneWide</key>
					<string>{520, 160}</string>
					<key>ResizePhone</key>
					<real>0.5</real>
					<key>OffsetFromControlPad</key>
					<string>{0, 70}</string>
					<key>OffsetFromControlPadPhone</key>
					<string>{0, 20}</string>
					<key>Alpha</key>
					<real>0.5</real>
					<key>WillNotShareSideWithControlPad</key>
					<true/>
					<key>ShareYLocationWithControlPad</key>
					<false/>
				</dict>
				<key>Jump_Circle</key>
				<dict>
					<key>ImageName</key>
					<string>arcade_button</string>
					<key>HighLightImageName</key>
					<string>arcade_button_down</string>
					<key>DoesWhat</key>
					<string>Jump</string>
					<key>Location</key>
					<string>{860, 90}</string>
					<key>LocationPhone</key>
					<string>{360, 33}</string>
					<key>LocationPhoneWide</key>
					<string>{440, 33}</string>
					<key>OffsetFromControlPad</key>
					<string>{0, -50}</string>
					<key>OffsetFromControlPadPhone</key>
					<string>{0, -20}</string>
					<key>ResizePhone</key>
					<real>0.5</real>
					<key>Alpha</key>
					<real>0.5</real>
					<key>WillNotShareSideWithControlPad</key>
					<true/>
					<key>ShareYLocationWithControlPad</key>
					<false/>
				</dict>
			</dict>
			<key>TMXFile</key>
			<string>Lava_Station</string>
			<key>PauseOutOfViewObjects</key>
			<true/>
			<key>Friction</key>
			<integer>1</integer>
			<key>BackgroundColor</key>
			<string>#000000</string>
			<key>Gravity</key>
			<string>{ 0,-2.0}</string>
			<key>BackgroundSound</key>
			<string></string>
			<key>RestoresAllHealth</key>
			<true/>
			<key>RemoveAnyFollowers</key>
			<true/>
			<key>OpenInventoryWhenLevelBegins</key>
			<true/>
			<key>RemovePreviouslyEquippedWeapons</key>
			<true/>
			<key>DisableCentering</key>
			<false/>
			<key>DisableCenteringOnY</key>
			<true/>
			<key>PanTimeBetweenPortals</key>
			<integer>1</integer>
			<key>CenteringOffset</key>
			<string>{0,768}</string>
			<key>CenteringOffsetPhone</key>
			<string>{0,320}</string>
			<key>ResizeLevelMoreForPhone</key>
			<real>0.7</real>
		</dict>
	</dict>
</dict>
</plist>
